.places {
	max-width: 984px;
	margin: 0 148px	92px;
}

@media (max-width: 1180px) {
	.places {
		max-width: 928px;
		margin: 0 48px	92px;
	}
}

@media (max-width: 880px) {
	.places {
		max-width: 720px;
		margin: 0 24px	90px;
	}
}

@media (max-width: 530px) {
	.places {
		max-width: 500px;
		margin: 0 auto 66px;
	}
}
