.footer__copyright {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	text-align: right;
}

@media (max-width: 680px) {
	.footer__copyright {
		line-height: 100%;
		text-align: left;
	}
}
