.cover {
	margin: 12px 48px 0;
}

@media (max-width: 1025px) {
	.cover {
		margin: 17px 0 0;
	}
}

@media (max-width: 769px) {
	.cover {
		margin: 17px auto 0;
	}
}

@media (max-width: 510px) {
	.cover {
		margin: 16px auto 0;
	}
}
