.place__link {
	max-width: 456px;
	min-height: 22px;
	font-weight: 400;
	font-size: 18px;
	line-height: 122%;
	text-decoration-line: underline;
	color: #FFFFFF;
	opacity: 1;
  transition: opacity 0.5s ease;
}

.place__link:hover {
	color: #AAAAAA;
	opacity: 0.6;
}

@media (max-width: 769px) {
	.place__link {
		max-width: 352px;
	}
}

@media (max-width: 530px) {
	.place__link {
		max-width: 288px;
	}
}
