.cover__overlay {
	min-height: 740px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(42, 44, 47, 0.3);
}

.cover__overlay:hover {
	background-color: rgba(42, 44, 47, 0.8);
}

@media (max-width: 1100px) {
	.cover__overlay {
		min-height: 640px;
	}
}

@media (max-width: 769px) {
	.cover__overlay {
		min-height: 480px;
	}
}

@media (max-width: 510px) {
	.cover__overlay {
		min-height: 300px;
	}
}

@media (max-width: 321px) {
	.cover__overlay {
		min-height: 200px;
	}
}
